header{
    display: flex;
    flex-direction: row;
}
#title{
    margin-left: 28px;
    text-align: left;
    font-family: fantasy;
    background-color: black;
    color: pink;
    border: pink 1px solid;
    border-radius: 21px;
    padding-left: 14px;
    width: 420px;
    text-decoration: none;
}

nav{
    margin-top: 84px;
    display: inline-flex;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: auto;
} 

nav li{
    color: pink;
    border: pink 1px solid;
    display: inline-flex;
    padding: 28px;
    margin-left: 7px;
    margin-right: 7px;
    border-radius: 28px;
    overflow: auto;
}

body{
    background-color: black;
}

main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 49px;
    margin-bottom: 49px;
    width: 980px;
 
    padding-top: 28px;
    padding-left: 28px;
    padding-bottom: 14px;
    border-radius: 14px;
}

.row{
    display: inline-block;
    margin: auto;
}


img{
    display: inline-block;
    padding: 14px;
    border: pink 1px solid;
    border-radius: 14px;
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 7px;
}
footer{
    margin: auto;
    height: fit-content;
    width: fit-content;
    background-color:black;
    color: pink;
    display: flex;
    flex-direction: row;
    border-radius: 28px;
    border: solid transparent 1px;
}

#additional{
    
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
